<!DOCTYPE html>
<html lang="en" ng-app="lojaApp">

<head>
    <meta charset="UTF-8" />
    <title>Loja Virtual</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/login-cadastro.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="images/icon.png" type="icon">
</head>

<body ng-controller="IndexController as vm" ng-class="{'showCart': showCart}">


    <!-- navbar -->
    <nav>
        <div>
            <a href="../index.html">Monkey</a>
        </div>

        <!-- sidebar -->
        <ul class="sidebar" ng-class="{'flex': vm.sidebarVisivel}"
            ng-style="{'display': vm.sidebarVisivel ? 'flex' : 'none'}">
            <li ng-click="vm.hideSidebar()">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"
                        fill="#000000">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg>
                </a>
            </li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="../views/login.html">Login</a></li>
            <li><a href="">Ajuda</a></li>
        </ul>



        <!-- pesquisa -->
        <div class="pesquisa" id="barraPesquisa" ng-class="{'expandida': vm.pesquisaExpandida}">
            <form ng-submit="$event.preventDefault()">
                <input type="search" placeholder="Pesquisa" />
                <a href="" ng-click="vm.togglePesquisa()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"
                        fill="#000000" id="iconePesquisa">
                        <path
                            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                    </svg>
                </a>
            </form>
        </div>

        <!-- home -->
        <div class="">
            <a href="../index.html"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960"
                    width="26px" fill="#000000">
                    <path
                        d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                </svg></a>
        </div>

        <!-- hamburg -->
        <div class="menu_button" ng-click="vm.showSidebar()">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"
                    fill="#000000">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </a>
        </div>

    </nav>
    </div>

    <div class="cadastro">

        <div class="signup-container">
            <h2>Criar Conta</h2>
            <form action="/cadastro" method="POST">
                <div class="input-group">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" name="name" required ng-model="cadastro.username">
                </div>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required ng-model="cadastro.email">
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required ng-model="cadastro.password">
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirme a Senha</label>
                    <input type="password" id="confirm-password" name="confirm-password" required ng-model="cadastro.cPassword">
                </div>
                <button type="button" ng-click="insertUser()">Cadastrar</button>
            </form>
            <div class="login-link">
                <a href="login.html">Já tem uma conta? Faça login</a>
            </div>
        </div>

    </div>


    <script>
        angular.module('lojaApp', []);
    </script>
    <script src="../scripts/index.controller.js"></script>
    <script src="../scripts/index.service.js"></script>


</body>

</html>