<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>

<div class='checkout'>
  <div class='order'>
    <h2>Checkout</h2>
    <h5>Order #0101</h5>
    <ul class='order-list'>
      <li><img src='../images/image.png'><h4>AK-47 Pente Alongado</h4><h5>$110</h5></li>
      <li><img src='../images/image.png'><h4>AK-47 Novinha</h4><h5>$28</h5></li>
      <li><img src='../images/image.png'><h4>AK-47 faca de combate</h4><h5>$20</h5></li>
    </ul>
    <h5>Shipping</h5><h4>$ 9.50</h4>
    <h5 class='total'>Total</h5><h1>$ 167.50</h1>
  </div>
  <h2>Payment</h2>
  <div id='payment' class='payment'>
    <form>

        <label class="cyberpunk-checkbox-label">
            <input type="checkbox" class="cyberpunk-checkbox">
            Cartão de crédito
        </label>
        <label class="cyberpunk-checkbox-label">
            <input type="checkbox" class="cyberpunk-checkbox">
            Pix
        </label>
        <label class="cyberpunk-checkbox-label">
            <input type="checkbox" class="cyberpunk-checkbox">
            Boleto
        </label>

        <button class='button-cta' title='Confirm your purchase' type="submit"><span>PURCHASE</span></button>

    </form>
</div>

<script>
</script>
</body>
</html>