<!DOCTYPE html>
<html lang="pt-br" ng-app="CheckoutApp">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Checkout</title>
  <link rel="stylesheet" href="../css/checkout.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="CheckoutController">
  
  <div class="checkout">
    <div class="order">
      <h2>Checkout</h2>
      <h5>Order #0101</h5>
      <ul class="order-list">
        <li ng-repeat="item in cart">
          <img ng-src="../{{item.product.image}}" />
          <h4>{{item.product.name}}</h4>
          <h5>R${{item.product.price}} x {{item.quantity}}</h5>
        </li>
      </ul>
      <h5>Frete</h5>
      <h4>R${{frete}}</h4>
      <h5 class="total">Total</h5>
      <h1 class="totalprice">{{cartTotalPrice + frete | currency:'R$ '}}</h1>
    </div>

    <div class="payment">
      <h2>Pagamento</h2>
      <form name="pagamentoForm" novalidate>
        <!-- Cartão -->
        <label class="cyberpunk-checkbox-label">
          <input type="checkbox" class="cyberpunk-checkbox" ng-model="pagamentoSelecionado.cartao"
            ng-change="selecionarOpcao('cartao')" />
          Cartão de crédito
        </label>
        <div class="pagamento-detalhes" ng-if="pagamentoSelecionado.cartao">
          <input type="text" placeholder="Número do Cartão" ng-model="dadosPagamento.cartao.numero"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.cartao.numero && !validarNumeroCartao()}"
            ng-focus="touched.cartao.numero = true" />
          <input type="text" placeholder="Validade (MM/AA)" ng-model="dadosPagamento.cartao.validade"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.cartao.validade && !validarValidade()}"
            ng-focus="touched.cartao.validade = true" />
          <input type="text" placeholder="Código de Segurança" ng-model="dadosPagamento.cartao.cvv"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.cartao.cvv && !validarCVV()}"
            ng-focus="touched.cartao.cvv = true" />
        </div>

        <!-- Pix -->
        <label class="cyberpunk-checkbox-label">
          <input type="checkbox" class="cyberpunk-checkbox" ng-model="pagamentoSelecionado.pix"
            ng-change="selecionarOpcao('pix')" />
          Pix
        </label>
        <div class="pagamento-detalhes" ng-if="pagamentoSelecionado.pix">
          <input type="email" placeholder="Email" ng-model="dadosPagamento.pix.email"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.pix.email && !validarEmail()}"
            ng-focus="touched.pix.email = true" />
          <input type="text" placeholder="CPF" ng-model="dadosPagamento.pix.cpf"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.pix.cpf && !validarCPF(dadosPagamento.pix.cpf)}"
            ng-focus="touched.pix.cpf = true" />
        </div>

        <!-- Boleto -->
        <label class="cyberpunk-checkbox-label">
          <input type="checkbox" class="cyberpunk-checkbox" ng-model="pagamentoSelecionado.boleto"
            ng-change="selecionarOpcao('boleto')" />
          Boleto
        </label>
        <div class="pagamento-detalhes" ng-if="pagamentoSelecionado.boleto">
          <input type="text" placeholder="CPF" ng-model="dadosPagamento.boleto.cpf"
            ng-class="{'input-invalido': pagamentoForm.$submitted || touched.boleto.cpf && !validarCPF(dadosPagamento.boleto.cpf)}"
            ng-focus="touched.boleto.cpf = true" />
        </div>

        <div class="botao-container">
          <div class="botao-container">
            <div class="botao-overlay" ng-if="!formularioValido()"></div>
            <button type="submit" class="button-cta" ng-click="finalizarCompra()" ng-disabled="!formularioValido()">
              <span>FINALIZAR COMPRA</span>
            </button>
          </div>
          <button type="submit" class="button-cta" ng-click="finalizarCompra()" ng-disabled="!formularioValido()">
            <span>FINALIZAR COMPRA</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <script src="../scripts/checkout.controller.js"></script>
</body>

</html>