* {
  margin: 0;
  padding: 0;
}

:root {
  --dark--color: rgb(32, 32, 32);
  --medium--color: rgb(52, 52, 52);
  --light--color: aliceblue;
  --primary--color: rgba(241, 249, 255, 0.862);
  --danger--color: rgb(141, 48, 48);
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--primary--color);
  font-family: "Lato", sans-serif;
}

nav {
  background-color: var(--light--color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.197);
  display: flex;
  flex-direction: row;
  height: 5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 5rem;
}

nav a {
  height: 100%;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--dark--color);
  transition: transform 0.2s ease;
}

nav a:hover {
  /*   background-color: rgb(201, 202, 219); */
  transform: scale(1.1);
}

nav div:first-child {
  margin-right: auto;
}

.pesquisa {
  background-color: var(--primary--color);

  height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto 0;
 
  width: fit-content;
  transition: width 0.3s ease;
  overflow: hidden;
}

.pesquisa form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pesquisa input {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  background-color: var(--primary--color);
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.pesquisa.expandida input {
  width: 150px;
  opacity: 1;
  border: 2px solid black;
  border-radius: 30px;
  padding: 4px;
}

.pesquisa svg {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(241, 245, 255, 0.136);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.078);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .hide {
    display: none;
  }
  .menu_button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
 