body {
  display: flex;
  justify-content: space-between;
}

nav {
  position: fixed;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

.login-container {
  background-color: rgb(244, 248, 255);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.162);
  width: 30rem;
  margin-top: 12rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.input-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

.signup-container {
  background-color: rgb(244, 248, 255);
  padding: 2rem;
  border-radius: 8px;
  margin-top: 7rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30rem;
  margin-top: 12rem;
}

.signup-container-produto {
  background-color: rgb(244, 248, 255);
  padding: 2rem;
  border-radius: 8px;
  margin-top: 7rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 40rem;
  margin-top: 12rem;
  margin-bottom: 12rem;

  form .row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 25px;

    input[type="text"],
    input[type="number"] {
      width: 18.6rem;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  #mensagem {
    width: 95%;
  }

  .fechar {
    background-color: #00000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .fechar:hover {
    transform: scale(1.1);
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.enviarButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.enviarButton:hover {
  background-color: #45a049;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #666;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
